[env]
DCW_SOY_MISE_ACTIVE = 'true'

[settings]
env_file = '.env'

[tools]
bun = { version = '1.3.7' }
claude = { version = '2.1.22' }
codex = { version = '0.92.0' }
gemini = { version = '0.26.0' }
node = { version = '24.13.0' }

[tasks]
'claude' = { run = "bun x @anthropic-ai/claude-code", description = "Invoke Claude Code", alias = "cc" }
