name: ci
on:
  push: null
  pull_request: null
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: bun
        uses: oven-sh/setup-bun@635640504f6d7197d3bb29876a652f671028dc97
        with:
          bun-version: 1.3.4
      - name: deps
        run: bun install --frozen-lockfile
      - name: test
        run: bun run test
